.width3{
    width: 1020px;
    height: 279px;
}
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color:none;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide>p{
    line-height: 30px;
    padding: 0 40px;
    text-align: justify;
  }
  