.footer{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B4245D;
  color: #ffffff;
  margin-top: 30px;
}

.footer1{
    width: 1020px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.matter0{
    width: 195px;
    height: 173px;
}
.matter1{
    width: 205px;
    height: 173px;
}
.matter2{
    width: 189px;
    height: 173px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.matter2>a{
    text-decoration: none;
    color: #ffffff;
}
.matter3{
    width: 230px;
    height: 173px;
}
.copyrights{
    margin-top: 70px;
}
.image7{
    width: 196px;
    height: 60px;
    background-image: url(../images/main\ -white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}