.marquee{
        font-family:inter;
        font-weight: 200;
        font-size: 20px;
        background-color: #B4245D;
        margin: 40px 0;
}
.spacing-marquee{
    margin: 10px 100px;
    color: white;
}
