.img4{
    background-image: url(../images/pexels-irina-iriser-871854.jpg);
  }
  .img5{
    background-image: url(../images/pexels-dimitri-kuliuk-3350335.jpg);
  }

.width1{
    width: 670px;
    height: auto;
}